.sort {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    
}



  
  .mdc-text-field--outlined .mat-mdc-form-field-infix,
  .mdc-text-field--no-label .mat-mdc-form-field-infix {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  
  :host ::ng-deep {
    .mat-mdc-select-panel .mat-mdc-option {
        color: #fff;
     }
    .mat-mdc-form-field {
      width: 12rem;
      
      .mat-mdc-select-value-text,
      .mat-mdc-select-arrow {
        color: #fff;
        
      }

      
  

      
      
      .mat-mdc-form-field-infix {
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem;
        min-height: auto;
      }
      
      .mat-mdc-form-field-wrapper {
        padding-bottom: 0;

        
      }
    }


  }

