<div class="sort">
    <mat-form-field appearance="outline">
      <mat-select id="order-by" [value]="selectedOrderBy()" 
                  (selectionChange)="onOrderByChangeWrapper($event)">
        <mat-option *ngFor="let option of orderByOptions" [value]="option.value">
          {{ option.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-select id="sort" [value]="selectedSort()" 
                  (selectionChange)="onSortChangeWrapper($event)">
        <mat-option value="desc">Descending</mat-option>
        <mat-option value="asc">Ascending</mat-option>
      </mat-select>
    </mat-form-field>
  </div>