.sort {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    
}

.mdc-text-field--outlined .mat-mdc-form-field-infix,
.mdc-text-field--no-label .mat-mdc-form-field-infix {
  padding-top: 0.4rem !important;
  padding-bottom: 0.4rem !important;
}

div.mat-mdc-select-panel {
    background-color: var(--background-color) !important;
}

.mat-mdc-option {
    color: #fff !important;
}

.mat-select-panel-animations-enabled {
    border: 1px solid var(--border-color);
    border-top:none;
}

div.mat-mdc-select-panel {
    padding:0px 0 !important;
}

// .mat-mdc-select-panel > * {
//     padding-top: 0rem !important;
//   padding-bottom: 0rem !important;
//   height: 0.2rem !important;
//     color: red;
//   }
    
:root {
    --mat-form-field-container-height: 0.1rem;
    --mat-form-field-filled-with-label-container-padding-top: 0.1rem;
    --mat-form-field-filled-with-label-container-padding-bottom: 0.1rem;
  }

  
  .mdc-text-field--outlined .mat-mdc-form-field-infix,
  .mdc-text-field--no-label .mat-mdc-form-field-infix {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  
  :host ::ng-deep {
    .mat-mdc-select-panel .mat-mdc-option {
        color: #fff;
     }
    .mat-mdc-form-field {
      width: 12rem;
      
      .mat-mdc-select-value-text,
      .mat-mdc-select-arrow {
        color: #fff;
        
      }

      
  

      
      
      .mat-mdc-form-field-infix {
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem;
        min-height: auto;
      }
      
      .mat-mdc-form-field-wrapper {
        padding-bottom: 0;

        
      }
    }


  }

