header {
    width: 100%;
    display: flex;
    padding-inline: 2em;
    padding-block: 0.8em;
    color: white;
    align-items: center;
    justify-content: space-between;
    // position: fixed;
    top: 0;
    left: 0;
    z-index: 2; 
    height: 6vh;
    border-top: 1px solid rgba(127, 60, 168, 0.5);
    border-bottom: 1px solid rgba(127, 60, 168, 0.5);
    border-radius: 5px;
    
    .logo {
        width: 4rem;    /* Définissez seulement la largeur */
        height: auto;     /* La hauteur s'ajustera automatiquement */
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 5em;
        
        span {
            cursor: pointer;
            &:hover {
                color: rgb(190, 190, 190);
            } 
        }


        ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            gap: 1rem;

            li {
                cursor: pointer;
                &:hover {
                    color: rgb(190, 190, 190);
                }

            }
        }
    }


}