


h2 {
    color: #fff;
    margin-bottom: 24px;
    font-size: 48px;
    text-align: center;

  }

  .main-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    .search-bar {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      position: relative;
      width: 30%;
      margin-bottom: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5em 1em;
      
      .search-input {
        border: none;
        outline: none;
        width: 100%;
        font-size: 1.2em;
        color: var(--text-color);
        padding: 0.5rem 0.5rem;
        border-radius: 5px;
        background-color: var(--background-color);
        border: 1px solid var(--border-color);
       
      }
      .search-btn {
        margin: 0;
        padding-block: 0.675rem;
        border: none;

      }

    }
    
    
    
    
    .search-input::placeholder {
      color: #888;
      font-style: italic;
    }

    
    .card-box {
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    
    .card {
      display: flex;
      flex-direction: column;
      background-color: #121419;
      border-radius: 16px;
      border: 1px solid var(--border-color);
      overflow: hidden;
      width: 15em;
      
      box-shadow: 0 2px 4px rgba(138, 43, 226, 0.1), 0 2px 4px rgba(75, 0, 130, 0.1), 0 4px 8px rgba(138, 43, 226, 0.1), 0 4px 8px rgba(75, 0, 130, 0.1);
      
      position: relative;
      overflow: hidden;
      cursor: pointer;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

        

        &:hover {
            transform: translateY(-8px) scale(1.03) !important;
            box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
        
          }

          .anime-image img {
            width: 100%;
            height: 17.5em;
            object-fit: cover;
            border-bottom: 1px solid var(--border-color);
          }


          .anime-title {
            color: #fff;
            font-size: 1em;
            font-weight: 600;
            padding: 0.25em 1em 0.25em 1em;
            text-align: center;
            max-width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          .anime-members {
            text-align: center;
            padding-bottom:0.5em ;
          }

          .anime-score {
            display: flex;
            flex-direction: row;
            position:absolute;
            left: 11rem;
            top:0.4rem;
            padding: 0.3rem;
            border-radius: 0.2rem;
            color: #fff;
            background-color: rgba(0, 0, 0, 0.5); /* noir avec 40% d'opacité */
            gap: 0.1rem;

            

            .star {
              font-size: 1rem;
              padding-top: 0.1rem;
            }
          
          }



        span {
            display: block;
            text-overflow: ellipsis;
            max-width: 15em;
    
            img {
                object-fit: cover;
                width: 15em;
                height: 20em;
    
            }
        }
      }
    }}
  
  
    
  
 

    .pagination {
        display: flex;
        flex-direction:row ;
      
        justify-content: center;

        button{
          margin-inline: 1rem;
        }
    }

  

  button {
    display: block;
    margin: 2rem auto;
    padding: 0.5rem 1.2rem;
    background-color: #7f3ca8;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border: solid 1px transparent;
    
    &:hover:not(:disabled):not(.active) {
      background-color: #4a2261;
      border: solid 1px white;
    }
    
    &:disabled {
      background-color: #cccccc;
      cursor: not-allowed;
    }
  }
  .active {
    border: solid 1px white;
    pointer-events: none;
    cursor: default;
    font-weight: bold;
    
  }

  p {
    text-align: center;
    color: #888;
    font-style: italic;
    margin-top: 2em;
  }

  

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 50,
  'GRAD' 0,
  'opsz' 24
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
