


.title {
  position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10rem;
    background-image: url('/img/main-image.webp');
    background-size: cover;       // L'image couvre toute la zone sans distorsion
    background-position: center;  // L'image est centrée dans l'élément
    background-repeat: no-repeat; // Pas de répétition de l'image
    height: 95vh;                // La hauteur du conteneur = 100% de la hauteur de la fenêtre
    width: 100%;
    z-index: 1;
                     
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
      z-index: -1;  // Assurez-vous que l'élément de fond est derrière le contenu
  }
}

.title-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}


h1 {
    font-size: 72px;
}

.go-button {
    background-color: #7f3ca8;
    color: white;
    border: none;
    padding: 0.5em 2em;
    font-size: 1.8em;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 2em;
  }
  
  .go-button:hover {
    background-color: #4a2261;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  }
  